asgiref==3.12.1
brotli==1.2.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.4.9
cssselect2==0.9.0
Django==5.2.17
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
fonttools==4.63.0
idna==3.18
pillow==12.3.0
psycopg2-binary==2.9.12
pycparser==3.0
pydyf==0.12.1
PyJWT==2.13.0
pyphen==0.17.2
python-decouple==3.8
python-dotenv==1.2.2
requests==2.34.2
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.1.0
typing_extensions==4.16.0
urllib3==2.7.0
weasyprint==69.0
webencodings==0.5.1
zopfli==0.4.3
