
/* ==================== AUTHENTIFICATION =================== */
.btn-bascule {
  display: none;
}

.auth-container {
  background: linear-gradient(rgba(0,0,0, .7), rgba(0,0,0, .7)), url('/images/images4.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  min-height: 100vh;
  padding: 20px;
}


.auth-container  .alert {
  width: 100%;
  max-width: 420px;
  padding: 8px 20px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 25px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.auth-container  .alert-error {
  background:rgba(239,68,68,.2);
  color:#ef4444 !important;
}

.auth-container  .alert-success {
  background:rgba(34,197,94,.2);
  color:#22c55e !important;
}

.auth-container  .auth-body {
  width: 100%;
  max-width: 420px;
  padding: 30px;
  border-radius: 5px;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  box-shadow: 0 8px 30px rgba(0,0,0,0.2);
  color: #fff;
  transition: .4s ease;
}

@keyframes glissez-apparaitre-rigth 
{
  from {
    opacity: 0;
    transform: translateX(90px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes glissez-apparaitre-left
{
  from {
    opacity: 0;
    transform: translateX(-90px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.auth-container .form {
  height: 450px !important;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

.login-form {
  animation: glissez-apparaitre-left  0.55s ease;
}

.register-form {
  animation: glissez-apparaitre-rigth  0.55s ease;
}

.logReg-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.logReg-title img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: solid 1px #c2c1c1;
  margin-bottom: 15px;
  background: linear-gradient(
    135deg,
    #494949,
    #838282
  );
}

.logReg-title h1 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 5px;
  line-height: 30px;
  margin-bottom: 10px;
}

.logReg-title p, .forgot-remember, .tabs {
  text-align: center;
  line-height: 23px;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  color: #c2c1c1;
}

.auth-container  .form-group{
  margin-bottom: 15px;
}

.auth-container .form-group label{
  display:block;
  font-size:13px;
  margin-top: 10px;
  text-align: center;
  line-height: 25px;
}

.auth-body input,
.auth-body select
{
  width:100%;
  padding:15px;
  border:none;
  border-radius: 5px;
  outline:none;
  background: rgba(255,255,255,0.15);
  color:#fff;
  margin-bottom: 10px;
}


.forgot-remember {
  margin: -5px 0 15px 0;
}

.forgot-remember a {
  font-weight: 600;
  color: #fff;
}

.text-error {
  font-size: 13px;
  color: rgb(252, 72, 72);
}

.btn-auth{
  width:100%;
  padding:13px;
  border:none;
  border-radius: 5px;
  margin-bottom: 20px;
  background:#fff;
  color: #252525;
  font-weight:bold;
  cursor:pointer;  
  text-decoration: none;
  
  display: flex;
  justify-content: center;
  transition: .3s;          
}

.btn-auth:hover{
  background: rgba(255,255,255, 0.2);
  color: white;
}

.auth-container .tabs {
  border-bottom: none !important;
  padding: 0 !important;
}

.auth-container .tabs button {
  font-size:13px;
  font-weight: 600;
  text-align: center;
  background: transparent;
  color: #fff;
  border: none;
  margin: 0 10px;
  cursor: pointer;
  transition: .3s;
}

.auth-container .tabs button:hover, 
.forgot-remember a:hover {
  text-decoration: underline;
}


/* ==================== AUTHENTIFICATION =================== */
