.container-principal.ca-page {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.ca-container { 
  position: relative;  
  text-align: center; 
  padding: 40px 0;
}

.ca-title {
  margin-bottom: 60px;
  color: var(--text);
  font-size: clamp(24px, 3.5vw, 44px);
  font-weight: 300;
  letter-spacing: 5px;
}

.ca-timer { 
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 25px; 
    flex-wrap: wrap; 
}

.ca-unit { 
    flex: 1; 
    min-width: 90px; 
}

.ca-number { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 12px; 
}

.ca-digit {
  position: relative; 
  width: 68px; 
  height: 113px;
}

.ca-segment {
  position: absolute;
  background: #dc2626;
  transition: opacity 0.3s ease;
}

.ca-a, .ca-g, .ca-d {
  width: 49px; 
  height: 15px; 
  left: 10px;
  clip-path: polygon(6px 0, 43px 0, 49px 7px, 43px 15px, 6px 15px, 0 7px);
}


.ca-a { top: 0; }

.ca-g { top: 49px; }

.ca-d { bottom: 0; }

.ca-b, .ca-c, .ca-e, .ca-f {
  width: 15px; 
  height: 48px;
  clip-path: polygon(0 6px, 7px 0, 15px 6px, 15px 42px, 7px 48px, 0 42px);
}

.ca-b { right: 0; top: 5px; }

.ca-c { right: 0; bottom: 5px; }

.ca-e { left: 0; bottom: 5px; }

.ca-f { left: 0; top: 5px; }

.ca-off {
  opacity: .08;
  background: linear-gradient(135deg, #86a7b6, #152839);
  box-shadow: none;
}

.ca-label {
  margin-top: 30px; 
  color: #dc2626; 
  font-size: clamp(12px, 1.4vw, 18px);
  font-weight: 300; 
  letter-spacing: 1px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ca-label::after {
    content: '';
    padding: 1px;
    background: #dc2626;
    bottom: 0;
    margin-top: 5px;
    display: flex;
    align-self: center;
    width: 50px;
    border-radius: 30px;
}

.ca-bottom { 
    margin-top: 50px; 
}

.ca-bottom-texte { 
    color: var(--text); 
    font-family: "Courier New", monospace; 
    font-size: clamp(12px, 1.6vw, 18px); 
    letter-spacing: 2px; 
    line-height: 27px;
}

.ca-expire-message {
  color: #dc2626; 
  font-size: 55px; 
  font-weight: 300; 
  letter-spacing: 2px;
  text-shadow: 0 0 10px #dc2626;
  margin-top: -40px;
  line-height: 80px;
}





@media (max-width: 900px) 
{
  .ca-page { 
    overflow: auto; 
  }
  .ca-timer { 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 35px 10px; 
  }
  .ca-digit { 
    transform: scale(.8); 
  }
}

@media (max-width: 500px) {
  .ca-timer { grid-template-columns: 1fr 1fr; }
}